// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define GAME 3
#define BT 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        dotcolon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sqtexcl: single_quote_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "SINGLE_QUOTE_EXCL";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        commasemi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMI";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        minusplus: minus_plus {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_PLUS";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp PLUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

	keymap {
        compatible = "zmk,keymap";
        layer_0 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  W       │  F       │  M       │  P       │  V       │   │  Z       │  . :     │  Q       │  J       │  ' !     │
            &kp W      &kp F      &kp M      &kp P      &kp V          &kp Z     &dotcolon   &kp Q      &kp J      &sqtexcl
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  R       │  S       │  N       │  T       │  B       │   │  , ;     │  A       │  E       │  I       │ H        │
            &kp R      &kp S     &hm LALT N &hm LGUI T  &kp B         &commasemi &hm RGUI A &hm RALT E  &kp I      &kp H
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  X       │  C       │  L       │  D       │  G       │   │  - +     │  U       │ O        │ Y        │ K        │
            &kp X      &kp C      &kp L      &kp D      &kp G         &minusplus  &kp U      &kp O      &kp Y      &kp K
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &sk RCTRL  &sk LSHIFT     &kp SPACE   &to 1
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        layer_1 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESC      │  7       │  8       │  9       │          │   │ CAPS     │ PAGE UP  │ PAGE DN  │ DELETE   │  BKSP    │
            &kp ESC    &kp N7     &kp N8     &kp N9     &trans        &caps_word &kp PG_UP  &kp PG_DN   &kp DEL    &kp BKSP
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ TAB      │  4       │  5       │  6       │          │   │          │ LEFT     │ UP       │ RIGHT    │  ENTER   │
            &kp TAB    &kp N4     &kp N5    &hm LGUI N6  &trans         &trans    &kp LARW   &kp UARW   &kp RARW   &kp ENTER
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ~        │  1       │  2       │  3       │  0       │   │          │          │ DOWN     │          │          │
           &kp TILDE   &kp N1     &kp N2     &kp N3     &kp N0         &trans     &trans     &kp DARW   &trans     &to GAME
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &to 0      &sk LSHIFT       &sk RCTRL  &to 2
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
		};
		
		layer_2 {
		    bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ESC     │          │  [ {     │  ] }     │          │   │  ^       │  (       │  )       │  "       │  BKSP    │
            &kp ESC    &trans     &kp LBKT   &kp RBKT   &trans         &kp CARET  &kp LPAR   &kp RPAR   &kp DQT    &kp BKSP
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  TAB     │  @       │  #       │  $       │  %       │   │  *       │  -       │  =       │  \       │  ENTER   │
            &kp TAB    &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp ASTRK  &kp MINUS  &kp EQUAL  &kp BSLH   &kp ENTER
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  `       │          │          │          │          │   │  &       │  _       │  +       │  │       │          │
            &kp GRAVE  &trans     &trans     &trans     &trans         &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE   &to BT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &to 0     &sk LSHIFT      &sk RCTRL  &to 1
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
		};

        game {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  W       │  F       │  M       │  P       │  V       │   │  Z       │  . :     │  Q       │  J       │  ' !     │
            &kp W      &kp F      &kp M      &kp P      &kp V          &kp Z     &dotcolon   &kp Q      &kp J      &sqtexcl
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  R       │  S       │  N       │  T       │  B       │   │  , ;     │  A       │  E       │  I       │ H        │
            &kp R      &kp S     &kp N       &kp T      &kp B         &commasemi &kp A       &kp E      &kp I      &kp H
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  X       │  C       │  L       │  D       │  G       │   │  - +     │  U       │ O        │ Y        │ K        │
            &kp X      &kp C      &kp L      &kp D      &kp G         &minusplus  &kp U      &kp O      &kp Y      &kp K
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp RCTRL  &kp LSHIFT     &kp SPACE   &to 1
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

		bt {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
		};	
        
	};
};
